body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    background:#222;
    color:white;
    overscroll-behavior: none; /* stops pull-to-refresh */
    touch-action: none; /* prevents the browser from interpreting gestures like scroll or zoom */
}
canvas{
    background:#222;
    margin-top: 10px;
    border:1px solid white;
    display:block;
    max-width:95vw;
    max-height:95vh;
    touch-action: none; /* prevents the browser from interpreting gestures like scroll or zoom */
}
